/* Button Link  */
#link{
    background-color: #DD0000;
}
#linkex{
    background-color: white;
}
#linkex a{
    color: black;
}
#linkex:hover{
    background-color: gray;
}
/* Match Summary Grid  */
.match-start{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.flag{
    display: flex;
}
.vs{
    padding: 10px 10px;
    font-weight: 700;
}
.flag-desc{
    text-align: center;
    width: 225px;
    height: 150px;
    border: 1px solid rgb(239, 228, 228);
    padding: 50px 30px;
    border-radius: 10px;
    
}
.flag-p{
    color: gray;
    font-size: 14px;
}
/* Respomsive for Mobile Devices */
@media only screen and (max-width:688px){
    .match-start{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    #linkex:hover{
        background-color: gray;
    }
}
/* Responsive For Tablet */
@media only screen and (min-width:688px) and (max-width:992px){
    .match-start{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    #linkex:hover{
        background-color: gray;
    }
    
}
