
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* First Section  */
.brazil{
    display: flex;
    background-color: #161616;
    color: white;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
.desc-1{
    margin: 111px 0 111px 106px;
    width: 28%;
}
.desc-h1{
    font-weight: 700;
    font-size: 40px;
}
.desc-p{
    font-weight: 400;
    font-size: 16px;
}
.first-btn{
    font-weight: 400;
    font-size: 17px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
}
.desc-2{
    width: 45%;
    margin: 2% 0 0 6%;
}
.desc-2 img{
    width: 100%;
    height: 100%;
    margin-bottom: -3px;
    margin-right: 5px;
}
.ball{
    visibility: hidden;
}


.brazil:hover .ball{
    visibility: visible;
    transform: rotate(60deg);
    transition: transform 1s ease-in-out 0.2s;
    transform: translate(700px, 100px);
}
 /* Second Section */
.match-overview{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 7%;
}
.match-desc{
    display: flex;
    flex-direction: column;
    height: 165px;
    width: 150px;
    background-color: black;
    border-radius: 10px;
}
/* Button link  */
.link{
    margin: 8px;
    padding: 10px 10px;
    border-radius: 10px;

}
.link:hover{
    background-color: gray;
}
#linkex{
    background-color: #DD0000;
}
#linkex a{
    color: white;
}
.link a{
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    color: black;
}
/* grid  */
.match-summary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.thumbnail{
    width: 250px;
    padding: 10px 10px;
    border: 1px solid rgb(240, 233, 233);
    border-radius: 10px;
}
.thumbnail img{
    width: 250px;
    height: 125px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 1%;
}
.thumbnail-btn{
    margin-left: 1%;
}
/* Icon font awesome  */
.icon{
    margin-right: 20px;
}
.fa-clock, .fa-message{
    color: rgb(187, 176, 176);
}
.hidden-btn{
    text-align: center;
    margin: 50px 0;
    visibility: hidden;
}
.hidden-btn button{
    padding: 10px 20px;
    border: none;
    background-color: #DD0000;
    border-radius: 10px;
    color: white;
}
/* Footer section  */
footer{
    width: 100%;
    height: 250px;
    background-color: #161616;
    color: white;
    text-align: center;
    padding-top: 3%;
    margin-top: 6%;
}
.footer-desc{
    margin-top: 4%;
}
.footer-ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 2% 5%;
}
footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
}
.footer-ul li{
    list-style: none;
    margin-right: 4%;
    color: #B9B9B9;
}
/* Social Media Link  */
.social-media a{
    text-decoration: none;
    margin-right: 1%;
    margin-top: 2%;
}
.fa-instagram, .fa-facebook, .fa-twitter{
    color: white;
}
/* Responsive For Mobile Devices */
@media only screen and (max-width:688px) {
    .brazil{
        flex-direction: column;
        width: 80%;
        justify-items: center;
        
    }
    .brazil:hover .ball{
        transform: translate(10px, 150px);
    }
    .desc-1, .desc-2{
       width: 50%;
       text-align: center;

    }
    .desc-2 img{
        width: 100%;
        margin-left: 80px;
    }
    .match-overview{flex-direction: column;
                    width: 80%; 
                               
    }
     
    .match-summary{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .link:hover{
        background-color: gray;
    }
    .match-desc{
        margin: 0 auto;
        background-color: white;
       
        
    }
    footer{
        width: 100%;
        height: 100%;
    }
    .footer-ul{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-ul li{
        margin: 10px 0;
    }
    .social-media{
        margin-left: 50px;
    }

}
/* Responsive For Tablet Devices */
@media only screen and (min-width:688px) and (max-width:992px){
    .brazil{
        width: 80%;
    }
    .brazil:hover .ball{
        transform: translate(400px, 100px);
    }
    .match-overview{flex-direction: column;
        width: 80%; 
                   
    }
    .match-summary{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .match-desc{
        margin: 0 auto;
        background-color: white;
        flex-direction: row;
    }
    .link{
      height: 40px;
      padding: 0 30px;
      border: none;
    }
    .link:hover{
        background-color: gray;
    }
    .hidden-btn{
        visibility: visible;
    }
    .footer-ul{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
